# Copy this file to .env.local and fill in your values.
# Do not commit .env.local to source control.

NEXT_PUBLIC_S3_BUCKET_NAME=webswift-live
NEXT_PUBLIC_S3_DIR_NAME=files
NEXT_PUBLIC_S3_REGION=us-east-2
NEXT_PUBLIC_S3_ACCESS_KEY_ID=
NEXT_PUBLIC_S3_ACCESS_KEY_SECRET=
